@model YiHe.Web.ViewModels.Material.NewsFormModel

@{
    ViewBag.Title = "新增公司动态";
    ViewData.Add("ParentView", this);
}

<div id="maintop">
    <h5 style="background: url('/Images/admin/icon-admin.png') no-repeat 4px 26px">新增公司动态</h5>
</div>

@using (Html.BeginForm("SaveNews", "About"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-field">
        <fieldset>
            <legend>公司动态：</legend>

            @{Html.RenderPartial("_CreateOrEditNews", Model);}

            <div class="submit-wrap">
                <input type="submit" value="发  布" />
            </div>
        </fieldset>
    </div>
}
