@using YiHe.Web.Core.Extensions

@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>
    @foreach (var e in Model.Elements)
    {
        @Html.SplitText(@e.Detail)
    }
</div>

@if (User.IsAdminRole())
{
    @:编辑
}

@section Meta
{
    <meta name="keywords" content="苏州心理咨询,苏州心理医生,心理咨询,苏州易禾心理,心理学,苏州心理学,咨询师,心理咨询师,易禾心理咨询" />
}