@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

@section Meta
{
    <meta name="keywords" content="苏州易禾心理,咨询中心,易禾故事,苏州易禾心理动态" />
}

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>
</div>
