@using YiHe.Web.Core.Extensions

@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

@section Meta
{
    <meta name="keywords" content="苏州易禾心理,咨询师团队,咨询团队,易禾故事,咨询师简介" />
}

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>
    @foreach (var e in Model.Elements)
    {
        <h4>@e.Detail</h4>
    }
</div>

@Html.Action("_StaffList")
