@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>
</div>

@foreach (var e in Model.Elements)
{
    <div class="service">
        <div id="order-title1" class="order-title">@e.Title</div>
        <p>@e.Detail</p>
    </div>
}
