@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

@section Meta
{
    <meta name="keywords" content="苏州易禾心理,服务范围,咨询中心,服务范围,治疗咨询,个体咨询,企业咨询,心理学爱好者" />
}

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>
</div>

@foreach (var e in Model.Elements)
{
    <div class="service">
        <div id="order-title1" class="order-title">@e.Title</div>
        <p>@e.Detail</p>
    </div>
}
