@using YiHe.Web.Core.Extensions

@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

@section Meta
{
    <meta name="keywords" content="苏州易禾心理,咨询中心,咨询师培训">
}

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>

    <h3 style="text-align: center;">南通崇川区易禾心理教育培训中心
        <br />
        2014年国家劳动部心理咨询师职业资格鉴定考试（二、三级）贯标班
        <br />
        <br />
        招生简章<br />
        <br />
    </h3>
    <p>
        南通市崇川区易禾心理培训中心是苏州易禾心理服务有限公司旗下的专业培训机构，基于在苏州地区近10年的心理学教育培训经验，以及大量的临床心理咨询经验，于2014年在南通市崇川区教育局注册成立。
    </p>
    <p>
        为了更好地与国际接轨，并适应国内社会生活对心理咨询人才紧迫而巨大的现实需要；为帮助学校、医疗系统、企业管理人员和社会各界人士报考心理咨询师，以推动我国心理咨询职业化进程，易禾心理专门成立了培训中心，以&quot;一站&quot;式的整体服务模式，承办心理咨询师国家职业资格考证的培训、报考和服务，以及继续再教育等事宜。
    </p>

    <ul style="list-style: disc; padding-left: 30px;">
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">职业说明：</div>
            <p>
                心理咨询师是指运用心理学以及相关学科的专业知识，遵循心理学原理，通过心理咨询的技术与方法，  帮助求助者解除心理问题的专业人员。心理咨询师具有一定的观察、理解、学习、判断、表达、人际沟通能力，及自我控制、自我心理平衡、交往控制能力。
            </p>
            <p>
                心理咨询师职业共设3 个等级：助理心理咨询师（国家职业资格三级）、心理咨询师（国家职业资格二级）、高级心理咨询师（国家职业资格一级）。
            </p>
        </li>
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">证书介绍：</div>
            <p>
                《国家职业资格・心理咨询师证书》系国家级职业资格证书，是心理咨询师职业、执业的唯一证明，心理咨询师是国家认可的职业。
            </p>
            <p>
                中华人民共和国人力资源与社会保障部颁发的《心理咨询师职业资格证书》为中国国内最权威的心理咨询师职业资格证书，二级证书更是心理咨询机构执业的必备条件！学员须修完面授课程，并参加由国家人力资源和社会保障局组织的统一考试全部合格后可获得此证书。
            </p>
        </li>
    </ul>
    <ol style="list-style: upper-roman; padding-left: 30px;">
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">开学与授课时间</div>
            <p>双休班 2014年7月13日开班，每周六、日全天上课。</p>
            <p>
                开学与上课时间的确定依据学员参加5月下旬或11月中旬或由劳动部组织的国家职业资格鉴定考试时间，具体时间以劳动部有关文件为准。考试时间如有调整，则培训时间会作相应调整。在劳动部组织的考试前完成授课、辅导答疑和模拟考试等培训内容。
            </p>
        </li>
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">教材与课程</div>
            <p>教材：选择由国家劳动和社会保障部统一组织专家编写的专门教材。</p>
            <p>
                课程：按照国家劳动和社会保障部统一规定咨询员的培训课程分为理论知识和操作技能两大部分。
            </p>
            <ol style="list-style: decimal; padding-left: 70px; padding-bottom: 20px;">
                <li>理论知识：普通心理学，社会心理学、发展心理学、心理健康与心理障碍，心理测验学及咨询心理学。
                </li>
                <li>操作技能：心理诊断技能和心理咨询技能。
                </li>
            </ol>
        </li>
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">培训方式</div>
            <p>为保证培训质量，我们只提供面授教学。我们将邀请省内相关院校心理系的讲师及教授，以及有丰富临床经验的心理医生、心理咨询师参与教学。</p>
            <p>
                培训地点：南通市环城南路23号，老年大学二楼。
            </p>
        </li>
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">结业与证书</div>
            <p>中华人民共和国颁发的《心理咨询师职业资格证书》为中国国内最权威的心理咨询师职业资格证书，二级证书更是心理咨询机构执业的必备条件！</p>
            <p>
                按照国家人力资源与社会保障部统一规定，在正规培训班达规定标准学时数，颁发加盖钢印的心理咨询师培训证书，并组织安排参加由国家劳动和社会保障部统一举行的职业资格鉴定考试，合格者由国家劳动和社会保障部颁发心理咨询师国家职业资格证书。心理咨询员为国家职业资格三级，心理咨询师为国家职业资格二级。
            </p>
        </li>
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">资格考试</div>
            <p>南通市崇川区易禾心理培训中心专门从事培训班的管理、督导、报考、服务事宜，创造各种有利条件与学员共同努力争取较高的通过率，并同时兼顾操作性职业技能。学员第一次考试未通过者可以免费参加下一期的培训。</p>
            <table class="train-table">
                <tr>
                    <th>职业</th>
                    <th>等级</th>
                    <th>考试科目</th>
                    <th>题型</th>
                    <th>答题时间</th>
                    <th>答题方式</th>
                    <th>满分</th>
                    <th>所占比例</th>
                </tr>
                <tr>
                    <td rowspan="9">心理咨询师</td>
                    <td rowspan="4">三级</td>
                    <td>职业道德</td>
                    <td rowspan="2">选择题</td>
                    <td rowspan="2">8:30-10:00</td>
                    <td rowspan="2">题卡作答</td>
                    <td rowspan="2">100分</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>理论知识</td>
                    <td>90%</td>
                </tr>
                <tr>
                    <td rowspan="2">专业能力</td>
                    <td>技能选择题</td>
                    <td rowspan="2">10:30-12:30</td>
                    <td>题卡做答</td>
                    <td rowspan="2">100分</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>案例问答题</td>
                    <td>纸笔作答</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td rowspan="5">二级</td>
                    <td>职业道德
                    </td>
                    <td rowspan="2">选择题
                    </td>
                    <td rowspan="2">8:30-10:00
                    </td>
                    <td rowspan="2">题卡作答
                    </td>
                    <td rowspan="2">100分
                    </td>
                    <td>10%
                    </td>
                </tr>
                <tr>
                    <td>理论知识
                    </td>
                    <td>90%
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">专业能力
                    </td>
                    <td>技能选择题
                    </td>
                    <td rowspan="2">10:30-12:30
                    </td>
                    <td>题卡作答
                    </td>
                    <td rowspan="2">100分
                    </td>
                    <td>60%
                    </td>
                </tr>
                <tr>
                    <td>案例问答题
                    </td>
                    <td>纸笔作答
                    </td>
                    <td>40%
                    </td>
                </tr>
                <tr>
                    <td>综合评审
                    </td>
                    <td>论文答辩
                    </td>
                    <td>15-30分钟
                    </td>
                    <td>口头答辩
                    </td>
                    <td>100分
                    </td>
                    <td>100%
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <div style="font-size: 1.2em; font-weight: bold;">报名与收费</div>
            <p>报名时间：于5月1日起开始正式接受报名，双休照常。</p>
            <p>
                地点：南通市中南世纪城欧尚双塔楼西楼11层1111室。
            </p>
            <p>报名条件：</p>
            <p><strong>三级心理咨询师报考条件</strong>（以下条件满足其一）</p>
            <ol style="list-style: decimal; padding-left: 70px; padding-bottom: 20px;">
                <li>具有心理学、教育学、医学专业本科及以上学历。
                </li>
                <li>具有心理学、教育学、医学专业大专学历，经心理咨询师三级正规培训达规定标准学时数，并取得结业证书。
                </li>
                <li>具有其他专业本科以上学历，经心理咨询师三级正规培训达规定标准学时数，并取得结业证书。
                </li>
            </ol>
            <p><strong>二级心理咨询师报考条件</strong>（以下条件满足其一）</p>
            <ol style="list-style: decimal; padding-left: 70px; padding-bottom: 20px;">
                <li>具有心理学、教育学、医学专业本科学历，经心理咨询师二级正规培训达规定标准学时数，并取得结业证书。
                </li>
                <li>取得心理咨询师三级职业资格证书，连续从事心理咨询工作满3年，经心理咨询师二级正规培训达规定标准学时数，并取得结业证书者。
                </li>
                <li>具有心理学、教育学、医学中级及以上专业技术职业任职资格，经心理咨询师二级正规培训达规定标准学时数，并取得结业证书，连续从事心理咨询工作满3年。
                </li>
            </ol>
        </li>
    </ol>
    <ul style="list-style: circle; padding-left: 30px;">
        <li>
            <div style="font-size:1.2em;">报名流程：</div>
            <img style="padding:10px;height: 40px;" src="/Images/train/flow.png" alt="" />
        </li>
        <li>
            <div style="font-size:1.2em;">报名资料：身份证、学历证明的复印件、报名表、一寸照片3张、两寸照片(红底)3张。</div>
        </li>
        <li>
            <div style="font-size:1.2em;">培 训 费：心理咨询师培训费5950元/人（二级）；3950元/人（三级）</div>
        </li>
        <li>
            <div style="font-size:1.2em;">开课时间：2014年7月13日（双休班）</div>
        </li>
        <li>
            <div style="font-size:1.2em;">报名热线：400-088-6903</div>
            联系人及电话：顾老师 0513-87108018  曹老师 13601491311
        </li>
        <li>
            <div style="font-size:1.2em;">在线联系：QQ 1159575321(易禾心理)</div>
        </li>
    </ul>
    <p style="text-align: right;">南通市崇川区易禾心理培训中心 </p>

</div>
